// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #303030;

$device-color:    white;
$duration-color:  white;
$title-color:     rgba(255, 255, 255, 0.7);
$start-color:     rgba(255, 255, 255, 0.7);

// If you want the title at the top, set the position to 'top'
$title-position:    bottom;

// ----------------------------------------------------------------------------
// Widget-doughnut-chart styles
// ----------------------------------------------------------------------------
.widget-doughnut-chart {

  background-color: $background-color;

  .device {
    font-size: 16px;
    color: $device-color;
    left: 0;
    right: 0;
    bottom: 40px;
    position: absolute;
  }

  .duration {
    color: $duration-color;
    left: 0;
    right: 0;
    top: 110px;
    position: absolute;
  }

  .title {
    color: $title-color;
    font-size: 14px;
    left: 0;
    right: 0;
    bottom: 20px;
    position: absolute;
  }

  .start {
    color: $start-color;
    font-size: 14px;
    left: 0;
    right: 0;
    bottom: 13px;
    position: absolute;
  }

}
