<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
});
</script>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Welcome" data-title="Welcome," data-subtitle="to the QA Mobile Dashboard!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightly" data-view="Nightly" data-unordered="true" data-title="Nightly Statistics" data-moreinfo="Total automation between 7pm - 8am"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="running_android" data-view="Meter" data-title="Android" data-height="200" data-width="200" data-min="0" data-max data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="running_ios" data-view="Meter" data-title="iOS" data-height="200" data-width="200" data-min="0" data-max data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="server_status" data-view="ServerStatus" data-title="Build Server"></div>
    </li>

    <% @count = 1 %>
    <% (1..6).each do |i| %>
        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
          <div class="android" data-id="doughnut_android_<%= @count %>" data-view ="DoughnutChart" data-title data-start data-duration data-moreinfo></div>
        </li>
        <% @count += 1 %>
    <% end %>

    <% @count = 1 %>
    <% (1..6).each do |i| %>
        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
          <div class="apple" data-id="doughnut_ios_<%= @count %>" data-view ="DoughnutChart" data-title data-start data-duration data-moreinfo></div>
        </li>
        <% @count += 1 %>
    <% end %>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pie_android" data-view="GooglePie" data-title="Android Test Breakdown"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pie_ios" data-view="GooglePie" data-title="iOS Test Breakdown"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="com.ecobee.athenamobile" data-view="PlayRatings" data-title="Android ecobee App"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="fail_tracker_android" data-view="List" data-unordered="true" data-title="Android Test Execution Breakdown" data-moreinfo style="background-color: rgb(0, 184, 179)"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="fail_tracker_ios" data-view="List" data-unordered="true" data-title="iOS Test Execution Breakdown" data-moreinfo style="background-color: rgb(0, 184, 179)"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="app_store_rating" data-view="Appstore" data-title="iOS ecobee App"></div>
    </li>

  </ul>
</div>