// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #999;
$title-color:       #FFF;
$background-png: 	url('apple.png');

// ----------------------------------------------------------------------------
// Widget-play-ratings styles
// ----------------------------------------------------------------------------
.widget-appstore { 
  background: $background-color;
  background-image: $background-png;
  background-size: 150px 180px;
  background-repeat: no-repeat;
  background-position: center;

  .title {
    font-size: 30px;
    font-weight: bold;
    color: $title-color;
    opacity: .9
  }

  .appstore-rating-container  {
    div > div {
      font-size: 22px
    }
  }

  .appstore-rating-value {
    font-size: 90px;
    color: $title-color;
    #appstore-rating-integer-value {
      font-weight: bold;
    }
  }

  .appstore-voters-count {
    font-size: 40px;
    color: $title-color;
    #appstore-voters-count-value {
      font-weight: bold
    }
  }

  .star.star-rating-non-editable-container {
    height: 48px;
    width: 240px;
    margin: 0 auto;
    background-image: url('../assets/star_empty.png');
    -webkit-background-size: contain;
    background-size: contain
  }

  .star .current-rating {
    height: 48px;
    width: 0%;
    background-image: url('../assets/star_full.png');
    -webkit-background-size: contain;
    background-size: contain
  }

}
